{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_poll" %}">Создание вопроса</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "index" %}">Все вопросы</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Ответы</h1>
    <div class="row">
        {% for answer in answers %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ answer.id }}</h3>
                        <h3>{{ answer.choice }}</h3>
                        <h5 class="card-title">{{ project.title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}